<h1>Listing bookings</h1>
	<%if !@bookings.empty?%>

<table class="table table-striped">
	<tr>
		<th>Booking ID </th>
		<th>Date of Booking </th>
		<th>Property </th>
		<th>From </th>
		<th>To </th>
		<th>Guests</th>
		<th>Edit </th>
		<th>Destroy</th>
	</tr>
<%=render @bookings%>

</table>


<br />
<%else%>
<p>No Records Found</p>
<%= link_to 'New booking', new_booking_path %>
<%end%>